<div class="container mx-auto p-4">
  <h1 class="text-center text-2xl font-bold mb-4">Productos Disponibles</h1>

  <div class="flex items-center justify-start space-x-4 mb-4">
    <app-navegation
      [prev]="prev"
      [next]="next"
      (onNavigate)="onPageChange($event)"
    ></app-navegation>

    <input
      type="text"
      placeholder="Buscar por nombre"
      (input)="onSearch($event)"
      class="w-1/3 p-2 border border-gray-300 rounded shadow-sm"
    />
  </div>

  <div *ngIf="products && products.length > 0; else noResults" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    <app-card *ngFor="let product of products" [product]="product"></app-card>
  </div>

  <ng-template #noResults>
    <p class="text-center text-gray-500">No se encontraron productos.</p>
  </ng-template>

  <app-navegation
    [prev]="prev"
    [next]="next"
    (onNavigate)="onPageChange($event)"
  ></app-navegation>
</div>
