<!-- Contenedor para los botones de navegación -->
<div class="flex space-x-4">
  <!-- Botón para navegar a la página anterior -->
  <button
    (click)="navigate(false)"
    [disabled]="!prev"
    class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 disabled:bg-gray-300"
  >
    Anterior
  </button>

  <!-- Botón para navegar a la página siguiente -->
  <button
    (click)="navigate(true)"
    [disabled]="!next"
    class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 disabled:bg-gray-300"
  >
    Siguiente
  </button>
</div>
