<!-- src/app/AuthManagement/components/register/register.component.html -->
<div class="register-container">
  <h2>Registro</h2>

  <form (ngSubmit)="register()" class="register-form">
    <div class="form-group">
      <label for="rut">RUT</label>
      <input type="text" id="rut" [(ngModel)]="userData.Rut" name="rut" required placeholder="Ingrese su RUT">
    </div>

    <div class="form-group">
      <label for="name">Nombre Completo</label>
      <input type="text" id="name" [(ngModel)]="userData.Name" name="name" required placeholder="Ingrese su nombre">
    </div>

    <div class="form-group">
      <label for="birthDate">Fecha de Nacimiento</label>
      <input type="date" id="birthDate" [(ngModel)]="userData.BirthDate" name="birthDate" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="userData.Email" name="email" required placeholder="Ingrese su email">
    </div>

    <div class="form-group">
      <label for="gender">Género</label>
      <select id="gender" [(ngModel)]="userData.Gender" name="gender" required>
        <option value="" disabled selected>Seleccione su género</option>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="userData.Password" name="password" required placeholder="Ingrese su contraseña">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input type="password" id="confirmPassword" [(ngModel)]="userData.ConfirmPassword" name="confirmPassword" required placeholder="Confirme su contraseña">
    </div>

    <button type="submit" class="btn">Registrar</button>
  </form>
</div>
