<h2 style="color: var(--primary-text); text-align: center;">Cambiar Contraseña</h2>
<form (ngSubmit)="changePassword()">
  <div>
    <label>Contraseña actual:</label>
    <input type="password" [(ngModel)]="passwordData.currentPassword" name="currentPassword" required />
  </div>
  <div>
    <label>Nueva contraseña:</label>
    <input type="password" [(ngModel)]="passwordData.newPassword" name="newPassword" required />
  </div>
  <div>
    <label>Confirmar nueva contraseña:</label>
    <input type="password" [(ngModel)]="passwordData.confirmPassword" name="confirmPassword" required />
  </div>
  <button type="submit">Cambiar Contraseña</button>
</form>
