/* src/app/AuthManagement/components/login/login.component.css */

.login-container {
  background-color: #007bff;
  padding: 20px 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form label {
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000; /* Color del texto */
  background-color: #ffffff; /* Fondo blanco para contraste */
}

.login-form button.btn {
  width: 100%;
  background-color: #0056b3;
  color: white;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button.btn:hover {
  background-color: #004080;
}
