<div class="flex justify-between items-center bg-blue-500 p-4 text-white">
  <h1 class="text-xl font-bold">{{ title }}</h1>
  <div class="flex space-x-4">
    <!-- Botón de Login -->
    <button
      *ngIf="!isAuthenticated"
      (click)="navigateTo('/login')"
      class="px-4 py-2 bg-green-600 rounded hover:bg-green-700"
    >
      Login
    </button>

    <!-- Botón de Register -->
    <button
      *ngIf="!isAuthenticated"
      (click)="navigateTo('/register')"
      class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-700"
    >
      Register
    </button>

    <!-- Botón de Logout -->
    <button
      *ngIf="isAuthenticated"
      (click)="logout()"
      class="px-4 py-2 bg-red-600 rounded hover:bg-red-700"
    >
      Logout
    </button>

    <!-- Botón de Ver Clientes -->
    <button
      *ngIf="isAdmin"
      (click)="navigateTo('/clients')"
      class="px-4 py-2 bg-purple-600 rounded hover:bg-purple-700"
    >
      Ver Clientes
    </button>

    <!-- Botón de Ver Órdenes -->
    <button
      *ngIf="isAdmin"
      (click)="navigateTo('/buy')"
      class="px-4 py-2 bg-purple-600 rounded hover:bg-purple-700"
    >
      Ver Órdenes
    </button>

    <!-- Botón de Editar Perfil -->
    <button
      *ngIf="isAuthenticated"
      (click)="navigateTo('/edit-profile')"
      class="px-4 py-2 bg-yellow-500 rounded hover:bg-yellow-600"
    >
      Editar Perfil
    </button>

    <!-- Botón de Cambiar Contraseña -->
    <button
      *ngIf="isAuthenticated"
      (click)="navigateTo('/change-password')"
      class="px-4 py-2 bg-orange-500 rounded hover:bg-orange-600"
    >
      Cambiar Contraseña
    </button>

    <!-- Botón de Gestión de Productos -->
    <button
      *ngIf="isAdmin"
      (click)="navigateTo('/product-management')"
      class="px-4 py-2 bg-indigo-500 rounded hover:bg-indigo-600"
    >
      Gestión de Productos
    </button>

    <!-- Botón de Vista de Ventas -->
    <button
      *ngIf="isAdmin"
      (click)="navigateTo('/sales-view')"
      class="px-4 py-2 bg-teal-500 rounded hover:bg-teal-600"
    >
      Vista de Ventas
    </button>
  </div>
</div>

<!-- Área donde se cargan los componentes según la ruta -->
<router-outlet></router-outlet>
