<div class="card">
  <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" [src]="product.ImageUrl" [alt]="product.Name" />
  <div class="card-content">
    <h5 class="card-title">{{ product.Name }}</h5>
    <p class="card-text"><strong>Tipo:</strong> {{ product.Type }}</p>
    <p class="card-price"><strong>Precio:</strong> ${{ product.Price }}</p>
    <p class="card-text"><strong>Stock:</strong> {{ product.StockQuantity }}</p>
    <button class="card-button">Añadir al carrito</button>
  </div>
</div>
